/* This file can be deleted once you have a proper cover image */
:root {
  --bg-gradient: linear-gradient(135deg, #232661 0%, #3478F3 100%);
}

body {
  background: var(--bg-gradient);
  min-height: 100vh;
}
